.hmenu{
    margin: 0px;
    padding: 0px;
    border-radius: 5px;
    box-shadow: 0 0 5px navy;
    list-style: none;
    background-color: orange;
    height: 40px;
}
ul.hmenu>li>a{
    display: block;
    line-height: 40px;
    text-decoration: none;
    font-variant: small-caps;
    padding-left: 25px;
    color: antiquewhite;
}
ul.hmenu>li>a:hover{
    color: rgb(174, 100, 100);
    font-weight: bold;
}
ul.hmenu>li{
    float: left;
    margin: 0 5px;
    position: relative;

}
ul.hmenu>li:hover>.sub-menu{
    display: block;
}
.sub-menu{
    margin: 0px;
    padding: 0px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(98, 98, 137);
    list-style: none;
    width: 150px;
    position: absolute;
    display: none;

}
.sub-menu>li>a{
    display: block;
    line-height: 30px;
    border-bottom: 1px dotted rgb(191, 173, 139);
    text-decoration: none;
    font-variant: small-caps;
    padding-left: 40px;

}
.sub-menu>li>a>:hover{
    color: rgb(198, 172, 222);
    font-weight: bolder;
}